/* styling the h1*/
h1{
    color:blue;
    text-align: center;
}
/*styling the paragragh*/
p{
    color:rgb(0, 255, 238);
    font-size: 24pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;

}
h2{
    color:blueviolet;
    text-align: center;
}
button{
    background-color:#007bff;
    color:black;
    border:none ;
    border-radius: 5px;

}
button:hover{
    background-color: yellow;
}
ul{
    list-style-type: none;
}
ul li{
  color:plum;
  font-size: 24pt;
 

}